h1{
    text-align: center;
  }

  #users{
      flex-flow: row wrap;
      display: flex;
      margin-left: 40;
      margin-left: 80;

  }
  .user{
        float: left;
        width: 33.33%;
        margin-top:50;
  }

  #input{
    text-align: center;
  }